table,
th,
td {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

table {
	border-collapse: separate;
	border: solid black 1px;
	border-radius: 6px;
}
td,
th {
	border-left: solid black 1px;
	border-top: solid black 1px;
}

td:first-child,
th:first-child {
	border-left: none;
}

th {
	background-color: lightblue;
	font-family: Arial, sans-serif;
	font-weight: bold;
	height: 50px;
	border-top: none;
}

h1 {
	text-align: center;
	font-family: Arial, sans-serif;
	color: darkblue;
	margin-top: 20px;
}

td:nth-child(1) {
	font-family: Arial, sans-serif;
	width: 200px;
	height: 60px;
}

td:nth-child(2) {
	font-family: Arial, sans-serif;
	width: 300px;
}

td:nth-child(3) {
	font-family: Arial, sans-serif;
	width: 200px;
	height: 60px;
}

header {
	padding-bottom: 30px;
}
.main-header {
	display: flex;
	align-items: center;
	background-image: linear-gradient(rgb(137, 151, 197), rgb(151, 174, 252));
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 48px;
	justify-content: space-between;
}
.header-info {
	display: flex;
	text-align: center;
	color: darkblue;
	left: 0;
	padding-left: 40px;
	padding-bottom: 10px;
	margin: 14px 14px 0 14px;
}
.header-info a {
	display: flex;
	padding: 10px;
	text-decoration: none;
}
.header-info a:hover {
	background-color: transparent;
}
