table,
th,
td {
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}

td:nth-child(1) {
	font-family: Arial, sans-serif;
	width: 100px;
	height: 50px;
}

td:nth-child(2) {
	font-family: Arial, sans-serif;
	width: 300px;
}

td:nth-child(3) {
	font-family: Arial, sans-serif;
	width: 100px;
	height: 50px;
}
.main-header {
	display: flex;
	align-items: center;
	background-image: linear-gradient(rgb(137, 151, 197), rgb(151, 174, 252));
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 48px;
	justify-content: space-between;
}
.header-info {
	display: flex;
	text-align: center;
	color: darkblue;
	left: 0;
	padding-left: 40px;
	padding-bottom: 10px;
	margin: 14px 14px 0 14px;
}
.header-info a {
	display: flex;
	padding: 10px;
	text-decoration: none;
}
.header-info a:hover {
	background-color: transparent;
}
