h1 {
	text-align: left;
	color: darkblue;
}
h2 {
	text-align: left;
	color: darkblue;
}
body {
	background-color: whitesmoke;
	font-family: Arial, sans-serif;
	padding-left: 40px;
}
p {
	text-align: left;
}
img {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.first {
	text-align: left;
	margin: 30px;
	background-color: darkblue;
	border: 2px solid cornflowerblue;
	padding: 5px;
	padding-top: 2px;
	color: white;
}

.video {
	align-content: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: darkblue;
	color: #ffffff;
	padding: 32px 12px 8px 12px;
	border-radius: 6px;
}

.video {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: darkblue;
	color: #ffffff;
	padding: 20px 20px 10px 20px;
	border-radius: 8px;
	width: fit-content;
	margin: 5px auto;
}

.vidtext {
	font-size: 20px;
	margin-bottom: 12px;
	text-align: center;
	color: #ffffff;
}

video {
	width: 640px;
	border-radius: 6px;
}

header {
	padding-bottom: 30px;
}

.main-header {
	display: flex;
	align-items: center;
	background-image: linear-gradient(rgb(137, 151, 197), rgb(151, 174, 252));
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 48px;
	justify-content: space-between;
}
.header-info {
	display: flex;
	text-align: center;
	color: darkblue;
	left: 0;
	padding-left: 40px;
	padding-bottom: 10px;
	margin: 14px 14px 0 14px;
}
.header-info a {
	display: flex;
	padding: 10px;
	text-decoration: none;
}
.header-info a:hover {
	background-color: transparent;
}
